.sp-input-error {
    border: 1px solid #ff9a95;
    background-color: #fdf3ef
}

.sp-cbfb+label:before {
    left: 12px !important;
    top: 13px !important
}

.sp-cbfc+label:before {
    left: 10px !important;
    top: 13px !important
}

.sp-cbfr+label:before {
    left: 5px !important;
    top: 2px !important
}

.rotate270 {
    transform: rotate(270deg) translateY(-100%) translateY(100%) translateX(100%) translateX(-100%) !important
}

.rotate180 {
    transform: rotate(180deg) translateY(100%) translateY(-100%) !important
}

.rotate90 {
    transform: rotate(90deg) !important
}

.sp_settings-wrap {
    padding: 11px 15px
}

.sp_bg-items {
    display: inline-block;
    max-width: 100%;
    width: 100%
}

.sp_weather-img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.sp_weather-container {
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px
}

.sp_weather-table>tbody>tr>td {
    width: 100%;
    max-width: inherit;
    padding-top: 4px;
    overflow: hidden
}

.sp_weather-table>tbody>tr>td:last-child {
    text-align: right
}

.sp-ch-text {
    color: #57A3EA;
    padding-left: 10px
}

.sp-del-text {
    color: #F86934;
    padding-left: 10px
}

.sp-ch-readers {
    right: 50px;
    top: -42px;
    padding-left: 8px !important;
    padding-right: 0px !important
}

.sp-ch-blogs {
    padding: 13px 5px 12px 30px !important
}

.pointer {
    cursor: pointer
}

.sp_unsupported {
    background: #f9edbf !important
}

@media all and (min-width:900px) {
    .sticker {
        width: 25rem;
        max-width: 25rem !important
    }
}

.sp-sticker-anim {
    animation-duration: 0.3s;
    animation-name: fadeIn
}

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

#api_debug-place {
    background: #ecf5fd;
    padding: 8px;
    display: none
}

#api_debug-result_info {
    font-size: small
}

.mr-14 {
    margin-right: 14px !important
}

.sp_newbq_l {
    border-top: 1px solid #c5d3e1 !important
}

.sp_font_sm {
    font-size: small !important
}

.sp_last_btn {
    font-size: small;
    border-bottom: unset !important
}

.sp_plus_btn_list {
    width: 50%;
    display: inline-block;
    box-sizing: border-box !important
}

.sp_error-block {
    padding-left: 30px;
    font-size: small
}

.sp_plus_line_c:before {
    content: '';
    display: block;
    border-bottom: 1px solid #cdd4e1;
    left: 48px;
    right: 80px;
    top: 50%;
    position: absolute
}

.sp_plus_line_c {
    position: relative
}

.sp_plus_c_desc {
    font-size: small;
    margin-left: 3rem
}

.sp_plus_c_wrap {
    padding: 5px 15px 5px 16px;
    display: block
}

ul.list>li {
    margin: 10px
}

.close_h:hover {
    opacity: .8
}

@media (min-width:1024px) {
    .w400 {
        max-width: 400px
    }
}

.border {
    border: 1px solid #b4bed1
}

#check_point_full_info {
    background: #4d5961;
    box-shadow: 0 3px 5px #293238
}

#debug .check_point:hover, .tree_element:hover>.ns {
    background: #818f99
}

.disabled {
    cursor: not-allowed
}

div.row4 {
    color: #000
}

input[type=range] {
    background: 0 0;
    height: 0;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%
}

input[type=range]:focus {
    outline: 0
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animation: .2s;
    background: #395387;
    border-radius: 32px;
    border: 0 solid #000
}

input[type=range]::-webkit-slider-thumb {
    border: 0 solid #2497e3;
    height: 10px;
    width: 10px;
    border-radius: 4px;
    background: #395387;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 0
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #d2e3f4
}

input[type=range]::-moz-range-track {
    -webkit-box-shadow: inset 0 1px 2px #7690c7;
    -moz-box-shadow: inset 0 1px 2px #7690c7;
    box-shadow: inset 0 1px 2px #7690c7;
    width: 100%;
    height: 10px;
    cursor: pointer;
    animation: .2s;
    background: #d2e3f4;
    border-radius: 32px;
    border: 0 solid #000
}

input[type=range]::-moz-range-thumb {
    border: 0 solid #2497e3;
    height: 10px;
    width: 10px;
    border-radius: 4px;
    background: #395387;
    cursor: pointer
}

input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animation: .2s;
    background: 0 0;
    border-color: transparent;
    color: transparent
}

input[type=range]::-ms-fill-lower {
    background: #d2e3f4;
    border: 0 solid #000;
    border-radius: 64px
}

input[type=range]::-ms-fill-upper {
    background: #d2e3f4;
    border: 0 solid #000;
    border-radius: 64px
}

input[type=range]::-ms-thumb {
    margin-top: 1px;
    border: 0 solid #2497e3;
    height: 10px;
    width: 10px;
    border-radius: 4px;
    background: #395387;
    cursor: pointer
}

input[type=range]:focus::-ms-fill-lower {
    background: #d2e3f4
}

input[type=range]:focus::-ms-fill-upper {
    background: #d2e3f4
}

input[type=range]::-moz-range-progress {
    border-radius: 4px;
    height: 10px;
    background-color: #395387
}

input[type=range]::-ms-fill-lower {
    border-radius: 4px;
    height: 10px;
    background-color: #395387
}

@keyframes heartbeat {
    0%, 100%, 40%, 80% {
        -webkit-transform: scale(.75);
        -moz-transform: scale(.75);
        transform: scale(.75)
    }
    20%, 60% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1)
    }
}

.heart {
    -webkit-animation: heartbeat 1s infinite;
    -moz-animation: heartbeat 1s infinite;
    animation: heartbeat 1s infinite;
    display: inline-block;
    cursor: pointer
}

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}

details summary:hover {
    cursor: pointer
}

.sp {
    background-image: url(../icons/icons.png);
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 4px -3px 0
}

.sp-checkbox-checked+label, .sp-checkbox-circle+label, .sp-checkbox-square+label {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none !important
}

.sp-checkbox-checked+label {
    margin-left: 5px;
    padding: 0 4px;
    vertical-align: top;
    width: 16px;
    height: 16px;
    display: inline-block
}

.sp-checkbox-circle+label, .sp-checkbox-square+label {
    padding: 11px 5px 12px 30px
}

.sp-checkbox-checked+label:before, .sp-checkbox-square+label:before {
    position: absolute;
    display: inline-block;
    content: '';
    background-position: -32px -16px;
    width: 16px;
    height: 16px;
    background-color: transparent;
    background-image: url(../icons/icons.png)
}

.sp-checkbox-checked+label:before, .sp-checkbox-circle+label:before {
    position: absolute;
    display: inline-block;
    content: '';
    background-position: -16px -16px;
    width: 16px;
    height: 16px;
    background-color: transparent;
    background-image: url(../icons/icons.png)
}

.sp-checkbox-square+label:before {
    left: 0;
    top: 12px
}

.sp-checkbox-circle+label:before {
    left: 0;
    top: 12px
}

.sp-checkbox-checked+label:before {
    top: 8px;
    margin-top: -8px
}

.sp-checkbox-checked:checked+label:before, .sp-checkbox-circle:checked+label:before, .sp-checkbox-square:checked+label:before {
    background-position: 0 -16px
}

.sp-checkbox-checked, .sp-checkbox-circle, .sp-checkbox-square {
    position: absolute;
    left: -10000px
}

.sp_plus_line>span {
    background: #fff;
    padding: 0 5px;
    position: relative;
    margin: 0 10px;
    display: inline-block
}

.sp_plus_line:before {
    content: '';
    display: block;
    border-bottom: 1px solid #cdd4e1;
    left: 0;
    right: 0;
    top: 50%;
    position: absolute
}

.sp_plus_line {
    text-align: center;
    position: relative;
    font-weight: 700
}

.sp_plus_text {
    color: #395387
}

.sp_lines {
    border-top: 1px solid #c5d3e1 !important
}

.bstrwrap {
    border-bottom: unset !important;
    border-top: 1px solid #cdd4e1
}

input[type=color] {
    opacity: 0;
    cursor: pointer
}

.sp_btn_line {
    border-right: 1px solid #cdd4e1
}

.sp-qrcode {
    background-position: 0 0
}

.sp-alert {
    background-position: -16px 0
}

.sp-backup-g {
    background-position: -32px 0
}

@media (max-width:899px) {
    .sp-ico {
        background-position: -64px -32px !important
    }
}

.dark_theme .sp-ico {
    background-position: -64px -32px !important
}

.sp-ico {
    display: block;
    position: absolute;
    top: 50%;
    margin: -8px 0 0 -26px;
    background-position: -48px 0
}

.sp-download-darkblue {
    background-position: -48px -16px
}

.sp-enter-grey {
    background-position: 0 -32px
}

.sp-exit-grey {
    background-position: -16px -32px
}

@media (max-width:480px) {
    .sp-fav {
        display: none
    }
    .sp-fav-on {
        display: none
    }
}

.sp-fav {
    background-position: -32px -32px
}

.sp-fav-on {
    background-position: -48px -32px
}

.sp-love {
    background-position: 0 -48px
}

.sp-ok-blue {
    background-position: -16px -48px
}

.sp-play-green {
    background-position: -32px -48px
}

.sp-remove-grey {
    background-position: -48px -48px
}

.sp-restore-blue {
    background-position: -64px 0
}

.sp-restore-g {
    background-position: -64px -16px
}

.sp-write-grey {
    background-position: -64px -48px
}