.pc .text-input__wrap .js-toolbar, .touch .text-input__wrap .js-toolbar {
    margin-right: -20px
}

.pc .text-input__wrap .smiles_menu, .toolbar__wrap, .touch .text-input__wrap .smiles_menu {
    margin-right: 2px
}

.input-txt_wrapper .toolbar {
    margin-right: -22px
}

.toolbar__wrap {
    background: #fff
}

.toolbar-color {
    width: 25px;
    height: 25px;
    margin: 5px 3px 3px;
    display: inline-block;
    border: 1px solid #cddae7
}

.toolbar a.js-clicked .ico_mail_picture, .toolbar a:active .ico_mail_picture {
    background-position: -96px -64px
}

.toolbar a.js-clicked {
    display: block
}

.toolbar a .ico {
    display: inline-block !important
}

.toolbar .ico_mail_picture, .toolbar .ico_plus_grey, .toolbar a .ico_more {
    margin: 0
}

.links-group .ico_arr_bottom {
    margin: 0 4px -3px 0 !important
}

.toolbar .list-link {
    padding: 10px;
    border-bottom: 1px solid #c0c6d2;
    display: block
}

.toolbar tr:last-child .list-link {
    border-bottom: 0
}

.toolbar__wrap {
    border-radius: 3px 3px 0 0;
    margin-bottom: -3px;
    padding-bottom: 2px
}

.toolbar__wrap table {
    border: 1px solid #c0c6d2;
    border-spacing: initial;
    border-bottom: 0
}

.toolbar__wrap .ico.ico_smile {
    margin: 0 1px
}

toolbar__dropdown-menu {
    left: -10px;
    margin-top: 0;
    right: -10px;
    top: 0
}

.text-input__wrap .toolbar {
    margin-right: -20px
}

.toolbar table {
    width: 100%
}

.toolbar .hide td:last-child, .toolbar td {
    text-align: center;
    border-right: 1px solid #c0c6d2
}

.toolbar tr {
    text-align: center
}

.cntBl {
    color: #bbc3c9;
    position: absolute;
    bottom: 7px;
    right: 20px;
    z-index: 10;
    font-size: 12px
}

.pc .cntBl {
    bottom: 4px
}